body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
     background: linear-gradient(135deg, #667eea, #764ba2);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: rgba(164, 153, 153, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 16px;
    padding: 35px;
    width: 95%;
    max-width: 500px;
    box-shadow: 35px 35px 35px 35px rgba(24, 22, 22, 0.25);
    border: 2px solid rgba(90, 71, 71, 0.3);
}

.glass h2 {
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f0dddd;
    margin-bottom: 25px;
    text-shadow: 2px 2px 4px rgba(187, 96, 126, 0.896);
}
form{
    display: flex;
    flex-direction: column;
}

label {
  margin-top: 10px;
  font-size: 14px;
  color: rgba(29, 2, 36, 0.755);
  text-shadow: 1px 1px 1px rgb(135, 107, 70);
  font-size: 20px;
}

input, select {
  margin-top: 5px;
  padding: 10px;
  border-radius: 8px;
  border: 1px 2px 3px 2px solid black;
  outline: none;
  font-size: 14px;
  color: rgba(19, 19, 19, 0.833);
  width: 93%;
}
button {
  margin-top: 20px;
  padding: 12px;
  border: 1px 2px 3px 3px solid bisque;

  border-radius: 10px;
  background: #f6f5f5e1;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;

}

button:hover {
  background: #8d7e7e;
}
